<!-- for tab banners -->
<section class="slider-for-ta">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active" [routerLink]="routes.listingGrid">
        <img src="assets/img/banners/11.jpg" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item" [routerLink]="routes.listingGrid">
        <img src="assets/img/banners/9.jpg" class="d-block w-100" alt="Slide 6">
      </div>
      <div class="carousel-item" [routerLink]="routes.listingGrid">
        <img src="assets/img/banners/4.jpg" class="d-block w-100" alt="Slide 2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
        aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
    </div>
  </div>
</section>
<!-- /for tab banners -->
<div class="menu-section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-6 col-md-3 mb-1 menu-item" [routerLink]="routes.CeoGreeting">
        <i class="fa-solid fa-cloud"></i>
        <span>{{ 'HOME.ABOUTUS' | translate }}</span>
      </div>
      <div class="col-6 col-md-3 mb-1 menu-item" [routerLink]="routes.listingGrid">
        <i class="fa-solid fa-award"></i>
        <span>{{ 'HOME.BRAND' | translate }}</span>
      </div>
      <div class="col-6 col-md-3 mb-1 menu-item" [routerLink]="routes.LocheNews">
        <i class="fa-solid fa-globe"></i>
        <span>{{ 'HOME.CHANNEL' | translate }}</span>
      </div>
      <div class="col-6 col-md-3 mb-1 menu-item" [routerLink]="routes.contactUs">
        <i class="fa-solid fa-user-group"></i>
        <span>{{ 'HOME.CONTACT' | translate }}</span>
      </div>
    </div>
  </div>
</div>
<!-- /Banner -->

<!-- section 3 -->
<div class="hero-section">
  <div class="container">
    <div class="row align-items-center">

      <!-- LEFT CONTENT -->
      <div class="col-lg-5 mb-4 mb-lg-0">
        <h1 class="hero-title">
          {{ 'HOME.Advanced_Hybrid' | translate }} <br>
          {{ 'HOME.Collagen_Stimulator' | translate }}
        </h1>
        <button class="hero-btn" [routerLink]="routes.listingGrid">
            {{ 'HOME.LEARN_MORE' | translate }}
        </button>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="col-lg-7 text-center" [routerLink]="routes.listingGrid">
        <img src="assets/img/banners/09.jpg" alt="Hero Image" class="hero-image">
      </div>

    </div>
  </div>
</div>
<div class="lenisna-section">
  <div class="container">
    <div class="row align-items-center">

      <!-- LEFT IMAGES (Zinzap Grid) -->
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="lenisna-grid">
          <img src="assets/img/banners/PDRNelle.jpg" class="grid-img">
          <img src="assets/img/banners/section two 3.jpg" class="grid-img">
          <img src="assets/img/banners/Loche Tox 200Unit.jpg" class="grid-img">
        </div>
      </div>

      <!-- RIGHT TEXT -->
      <div class="col-lg-4 ps-lg-5" [routerLink]="routes.listingGrid">
        <h2 class="lenisna-title">{{ 'HOME.RESTORE_YOUR' | translate }}<br> {{ 'HOME.NATURAL_VOLUME' | translate }}</h2>
        <p class="lenisna-tagline">{{ 'HOME.FULLNESS_NATURALLY_RESTORED' | translate }}</p>
        <button class="lenisna-button">{{ 'HOME.LEARN_MORE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<section class="NewArrival-section our-Stores-product">
  <div class="container mb-5">
    <h2 class="text-center section-title mb-5 pt-4 animate__animated animate__fadeInDown"> {{ 'HOME.PROMOTION_PRODUCTS' | translate }}
      <span [routerLink]="routes.listingGrid">{{ 'HOME.SEE_ALL_PRODUCTS' | translate }}</span> <i class="fa-solid fa-chevron-right"></i>
    </h2>
    <owl-carousel-o [options]="pramotionsec">
      <ng-container *ngFor="let pramotion of promotionProducts">
        <ng-template carouselSlide>
          <div class="product-sec" [routerLink]="routes.listingGrid">
            <div class="listing-item product-list">
              <div class="listing-img">
                <a class="product-image">
                  <img [src]="pramotion.image" class="img-fluid" alt="product" />
                </a>
                <!-- <span class="featured-text">{{pramotion.brandname}}</span> -->
              </div>
              <div class="listing-content">
                <div class="listing-features d-flex align-items-end justify-content-between">
                  <div class="list-rating">

                    <h3 class="listing-title">
                      <a>{{ pramotion.title | translate }}</a>
                    </h3>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
<div class="affiliates-section container">
  <h2 class="affiliates-title">{{ 'HOME.EMPOWERING_GLOBAL_SYNERGIES' | translate }}</h2>

  <div class="affiliates-wrapper container">

    <!-- GLASSMORPHISM -->
     <a target="_blank" rel="noopener noreferrer"
          href="https://wholesale.stylekorean.com/?utm_source=stylekorean&utm_medium=referral&utm_campaign=stylekorean_gl_bt_pc">

    <div class="affiliate-card glass">
      <div class="top mt-4">
        <a target="_blank" rel="noopener noreferrer"
          href="https://wholesale.stylekorean.com/?utm_source=stylekorean&utm_medium=referral&utm_campaign=stylekorean_gl_bt_pc">

          <img src="assets/img/banners/stylekorean_logo.png" class="logo">
        </a>

        <h4 class="mt-4">{{ 'HOME.STYLE_KOREAN' | translate }}</h4>
        <p>{{ 'HOME.AESTHETIC_COSMETICS_MANUFACTURING' | translate }}</p>

      </div>

      <div class="bottom-circle">
        <img src="assets/img/banners/2148963960.jpg">
      </div>
    </div>
    </a>

    <!-- GRADIENT -->
         <a href="https://myindia.co.kr/" target="_blank" rel="noopener noreferrer">
    <div class="affiliate-card gradient">
      <div class="top">
        <a href="https://myindia.co.kr/" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/loche-logo-white-300x300.png" style="width:70px;" class="logo">
        </a>
        <h4>{{ 'HOME.MYINDIA' | translate }}</h4>
        <p>{{ 'HOME.CDSCO_CERTIFICATION' | translate }}</p>
      </div>
      <div class="bottom-circle">
        <img src="assets/img/banners/b2bimg.png">
      </div>
    </div>
    </a>

    <!-- NEUMORPHISM -->
      <a href="https://bellaluna.in/" target="_blank" rel="noopener noreferrer">
    <div class="affiliate-card neu">
      <div class="top">
        <a href="https://bellaluna.in/" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/bellaluna-logo.webp" class="logo">
        </a>
        <h4 class="mt-2">{{ 'HOME.BELLALUNA' | translate }}</h4>
        <p>{{ 'HOME.COSMETICS_OEM_MANUFACTURING' | translate }}</p>
      </div>
      <div class="bottom-circle">
        <img src="assets/img/header-bg.png">
      </div>
    </div>
</a>

    <!-- SPLIT CARD -->
      <a href="https://loche.in/" target="_blank" rel="noopener noreferrer">
    <div class="affiliate-card split">
      <div class="top">
        <a href="https://loche.in/" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/Loche-India-Logo-PNG.png" style="width:70px; " class="logo">
        </a>
        <h4>{{ 'HOME.LOCHE_LOGISTICS' | translate }}</h4>
        <p>{{ 'HOME.INTERNATIONAL_LOGISTICS' | translate }}</p>
      </div>
      <div class="bottom-circle">
        <img src="assets/img/banners/transport.png" class="thumb">
      </div>
    </div>
</a>
  </div>
</div>